<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/css/style.css}">
    <title>Document</title>
</head>
<body>
    <h1>Epic Task</h1>

    <form action="/task" method="POST">
        <label for="title">Título</label>
        <input type="text" id="title" name="title" placeholder="título">

        <label for="description">Descrição</label>
        <textarea name="description" id="description" placeholder="descrição"></textarea>

        <label for="score">Pontos</label>
        <input type="range" name="score" id="score" min="1" max="100">

        <input class="button primary" type="submit" value="cadastrar">
    </form>
</body>
</html>